openapi: 3.0.3
info:
  title: Ecostat API
  description: >
    글로벌 거시경제 데이터 터미널 Ecostat의 백엔드 API.
    거시지표·미시지표·원자재를 하나의 indicators 리소스로 통합해 제공하며,
    국가별 11개 고정순서 개념 매핑, 발표일정, 상관관계, 인증·구독을 포함한다.
  version: 1.0.0
  contact:
    name: Ecostat
servers:
  - url: https://api.ecostat.app/v1
    description: Production
  - url: https://staging-api.ecostat.app/v1
    description: Staging

tags:
  - name: Auth
  - name: Countries
  - name: Indicators
  - name: Commodities
  - name: Concepts
  - name: Calendar
  - name: Correlations
  - name: Me
  - name: Subscription
  - name: Webhooks

security:
  - bearerAuth: []

paths:
  # ── 인증 ──────────────────────────────────────────────────────────────
  /auth/google:
    post:
      tags: [Auth]
      summary: Google 로그인
      description: Google Identity Services가 발급한 ID 토큰을 검증하고 세션을 발급한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token]
              properties:
                id_token: { type: string, description: "Google GIS credential (JWT)" }
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/apple:
    post:
      tags: [Auth]
      summary: Apple 로그인
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identity_token]
              properties:
                identity_token: { type: string }
                user_name: { type: string, description: "최초 로그인 시 Apple이 1회만 제공하는 이름" }
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/guest:
    post:
      tags: [Auth]
      summary: 게스트 로그인
      description: 별도 자격증명 없이 익명 사용자 세션을 즉시 발급한다.
      security: []
      responses:
        "200":
          description: 게스트 세션 발급 성공
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }

  /auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      responses:
        "204": { description: 로그아웃 성공 }

  # ── 국가 ──────────────────────────────────────────────────────────────
  /countries:
    get:
      tags: [Countries]
      summary: 지원 국가 목록
      security: []
      responses:
        "200":
          description: 국가 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Country" }

  # ── 거시/미시 지표 ─────────────────────────────────────────────────────
  /countries/{countryCode}/indicators:
    get:
      tags: [Indicators]
      summary: 국가별 지표 목록 (거시/미시)
      description: >
        `scope=macro`일 때 `order=concept`를 주면 11개 고정순서로 정렬된 목록을 반환한다
        (해당 국가에 없는 개념은 건너뛰고, 나머지는 계열 순서로 이어붙인다).
      security: []
      parameters:
        - $ref: "#/components/parameters/CountryCode"
        - name: scope
          in: query
          required: true
          schema: { $ref: "#/components/schemas/IndicatorScope" }
        - name: category
          in: query
          description: 계열(거시) 또는 업종 카테고리(미시) 이름으로 필터
          schema: { type: string }
        - name: order
          in: query
          description: "concept: 11개 고정순서 우선 정렬 (scope=macro일 때만 유효)"
          schema: { type: string, enum: [concept, category] }
        - name: year
          in: query
          description: 과거 연도 확정치 모드 (미지정 시 최신 속보치)
          schema: { type: integer, minimum: 2016, maximum: 2026 }
      responses:
        "200":
          description: 지표 목록 (요약 카드 정보만 포함, 상세는 /indicators/{key} 참고)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/IndicatorSummary" }

  /indicators/{indicatorKey}:
    get:
      tags: [Indicators]
      summary: 지표 상세 (정의·분석·11년 궤적 등 전체 필드)
      security: []
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      responses:
        "200":
          description: 지표 상세
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IndicatorDetail" }
        "404":
          $ref: "#/components/responses/NotFound"

  /indicators/{indicatorKey}/series:
    get:
      tags: [Indicators]
      summary: 단기 추이(최근 5~6개 시점) 조회
      security: []
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      responses:
        "200":
          description: 단기 추이 포인트 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/SeriesPoint" }

  /indicators/{indicatorKey}/history:
    get:
      tags: [Indicators]
      summary: 11년 연도별 궤적 조회
      description: card_style이 light인 미시지표는 이 리소스가 비어 있을 수 있다.
      security: []
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      responses:
        "200":
          description: 연도별 궤적 + 종합 해설
          content:
            application/json:
              schema: { $ref: "#/components/schemas/YearHistory" }

  # ── 원자재 ────────────────────────────────────────────────────────────
  /commodities:
    get:
      tags: [Commodities]
      summary: 원자재 목록 (26개)
      security: []
      parameters:
        - name: category
          in: query
          description: "에너지 · 귀금속 · 산업금속 · 농산물 · 축산물"
          schema: { type: string }
        - name: year
          in: query
          schema: { type: integer, minimum: 2016, maximum: 2026 }
      responses:
        "200":
          description: 원자재 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/IndicatorSummary" }

  /commodities/{indicatorKey}:
    get:
      tags: [Commodities]
      summary: 원자재 상세
      security: []
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      responses:
        "200":
          description: 원자재 상세 (지표 상세와 동일 스키마)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/IndicatorDetail" }
        "404":
          $ref: "#/components/responses/NotFound"

  # ── 11개 고정순서 개념 ────────────────────────────────────────────────
  /concepts:
    get:
      tags: [Concepts]
      summary: 11개 고정순서 개념 목록
      security: []
      responses:
        "200":
          description: 개념 목록 (기준금리 → ... → 환율 순)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Concept" }

  /countries/{countryCode}/concept-map:
    get:
      tags: [Concepts]
      summary: 국가별 11개 슬롯 → 지표 매핑
      security: []
      parameters:
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: 개념별 매핑 (해당 국가에 없는 개념은 indicator가 null)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ConceptMapping" }

  # ── 발표일정 ──────────────────────────────────────────────────────────
  /countries/{countryCode}/calendar:
    get:
      tags: [Calendar]
      summary: 예정된 지표 발표 일정
      security: []
      parameters:
        - $ref: "#/components/parameters/CountryCode"
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: 발표 일정 목록 (날짜순)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CalendarEvent" }

  # ── 상관관계 ──────────────────────────────────────────────────────────
  /countries/{countryCode}/correlations:
    get:
      tags: [Correlations]
      summary: 상관관계 매트릭스
      security: []
      parameters:
        - $ref: "#/components/parameters/CountryCode"
      responses:
        "200":
          description: 매트릭스 축 + 계수
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CorrelationMatrix" }

  # ── 내 정보 ───────────────────────────────────────────────────────────
  /me:
    get:
      tags: [Me]
      summary: 내 프로필 조회
      responses:
        "200":
          description: 사용자 정보
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }

  /me/subscription:
    get:
      tags: [Subscription]
      summary: 내 구독 상태 조회
      responses:
        "200":
          description: 구독 상태
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Subscription" }

  /me/subscription/checkout:
    post:
      tags: [Subscription]
      summary: 구독 결제 시작 (Google Play / App Store 인앱결제 세션 생성)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan, store]
              properties:
                plan: { type: string, enum: [monthly, yearly] }
                store: { type: string, enum: [google_play, app_store] }
      responses:
        "200":
          description: 결제 세션 정보 (클라이언트가 스토어 SDK로 이어받는다)
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkout_token: { type: string }
                  product_id: { type: string }
        "402":
          description: 결제 시작 실패

  /me/symbol-overrides:
    get:
      tags: [Me]
      summary: 내가 재정의한 시세 심볼 목록
      responses:
        "200":
          description: 심볼 재정의 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/SymbolOverride" }
    put:
      tags: [Me]
      summary: 특정 지표의 시세 심볼 재정의
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SymbolOverride" }
      responses:
        "204": { description: 저장 성공 }

  /me/indicator-edits/{indicatorKey}:
    put:
      tags: [Me]
      summary: 지표 값 수동 수정(오버라이드) 저장
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IndicatorEdit" }
      responses:
        "204": { description: 저장 성공 }
    delete:
      tags: [Me]
      summary: 수동 수정 초기화(원래 값으로 되돌림)
      parameters:
        - $ref: "#/components/parameters/IndicatorKey"
      responses:
        "204": { description: 초기화 성공 }

  # ── 스토어 웹훅 (서버-서버, 별도 인증) ───────────────────────────────────
  /webhooks/google-play:
    post:
      tags: [Webhooks]
      summary: Google Play 실시간 개발자 알림 수신
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: 처리 완료 }

  /webhooks/app-store:
    post:
      tags: [Webhooks]
      summary: App Store Server Notifications V2 수신
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200": { description: 처리 완료 }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    CountryCode:
      name: countryCode
      in: path
      required: true
      description: "US · KR · JP · EA · CN"
      schema: { type: string, enum: [US, KR, JP, EA, CN] }
    IndicatorKey:
      name: indicatorKey
      in: path
      required: true
      description: "지표 고유 키 (예: cpi, kgdp, j_tankan)"
      schema: { type: string }

  responses:
    Unauthorized:
      description: 인증 실패
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: 리소스를 찾을 수 없음
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        code: { type: string }
        message: { type: string }

    Country:
      type: object
      properties:
        code: { type: string, example: "KR" }
        name: { type: string, example: "한국" }
        sort_order: { type: integer }

    IndicatorScope:
      type: string
      enum: [macro, micro, commodity]

    IndicatorSummary:
      type: object
      properties:
        indicator_key: { type: string, example: "cpi" }
        country_code: { type: string, nullable: true, example: "US" }
        scope: { $ref: "#/components/schemas/IndicatorScope" }
        card_style: { type: string, enum: [full, light] }
        category: { type: string, example: "물가" }
        name: { type: string, example: "CPI 소비자물가지수" }
        org: { type: string, example: "BLS" }
        unit: { type: string, example: "%" }
        current_value: { type: number, nullable: true }
        previous_value: { type: number, nullable: true }
        as_of_label: { type: string, example: "전년 동월 대비 · 2026년 6월" }
        trend_direction: { type: string, enum: [up, down, flat], nullable: true }
        is_estimate: { type: boolean }

    IndicatorDetail:
      allOf:
        - $ref: "#/components/schemas/IndicatorSummary"
        - type: object
          properties:
            source_desc: { type: string }
            source_url: { type: string, format: uri }
            reference_value: { type: number, nullable: true }
            schedule:
              type: object
              properties:
                cycle: { type: string, example: "매월" }
                when: { type: string }
                time: { type: string }
                next: { type: string }
            series:
              type: array
              items: { $ref: "#/components/schemas/SeriesPoint" }
            extras:
              type: array
              items: { $ref: "#/components/schemas/ExtraField" }
            what_text: { type: string }
            importance_text: { type: string }
            watch_text: { type: string }
            analysis_points:
              type: array
              items: { type: string }
              description: 거시지표의 'why' 또는 미시지표(경량)의 'analysis' 목록
            year_history:
              $ref: "#/components/schemas/YearHistory"

    SeriesPoint:
      type: object
      properties:
        period_label: { type: string, example: "6월" }
        value: { type: number }
        is_confirmed: { type: boolean, description: "확정치 여부(ver)" }

    ExtraField:
      type: object
      properties:
        label: { type: string }
        value: { type: string }

    YearHistory:
      type: object
      properties:
        unit: { type: string, example: "%" }
        label: { type: string, example: "연말 전년비" }
        points:
          type: array
          items:
            type: object
            properties:
              year: { type: integer, example: 2026 }
              value: { type: number }
              note: { type: string }
        arc_text:
          type: string
          description: 11년 흐름 종합 해설

    Concept:
      type: object
      properties:
        name: { type: string, example: "기준금리" }
        sort_order: { type: integer, example: 1 }

    ConceptMapping:
      type: object
      properties:
        concept: { type: string, example: "Core CPI" }
        sort_order: { type: integer }
        indicator_key: { type: string, nullable: true, example: "ucore" }

    CalendarEvent:
      type: object
      properties:
        event_date: { type: string, format: date }
        event_label: { type: string, example: "단칸 9월 조사 (BOJ)" }
        indicator_key: { type: string, nullable: true }

    CorrelationMatrix:
      type: object
      properties:
        axis:
          type: array
          items: { type: string }
          description: 매트릭스에 노출되는 지표 키 목록(정렬 순서대로)
        pairs:
          type: array
          items:
            type: object
            properties:
              indicator_a: { type: string }
              indicator_b: { type: string }
              coefficient: { type: number, minimum: -1, maximum: 1 }
              explanation: { type: string }

    AuthResponse:
      type: object
      properties:
        access_token: { type: string }
        token_type: { type: string, example: "Bearer" }
        user: { $ref: "#/components/schemas/User" }

    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, nullable: true }
        avatar_url: { type: string, nullable: true }
        auth_provider: { type: string, enum: [google, apple, guest] }

    Subscription:
      type: object
      properties:
        status: { type: string, enum: [trial, expired, subscribed] }
        plan: { type: string, enum: [none, monthly, yearly] }
        trial_ends_at: { type: string, format: date-time, nullable: true }
        current_period_end: { type: string, format: date-time, nullable: true }

    SymbolOverride:
      type: object
      required: [indicator_key, symbol]
      properties:
        indicator_key: { type: string }
        symbol: { type: string, example: "^KS11" }

    IndicatorEdit:
      type: object
      properties:
        override_value: { type: number }
        override_previous: { type: number, nullable: true }
        override_as_of: { type: string, nullable: true }
